
crash-reports/
shaderpacks/
saves/
resourcepacks/
logs/
usercache.json
usernamecache.json
screenshots/
shrines-saves/
downloads/
local/
minecolonies/
trees/
woot/
structurize/
schematics/
dumps/
ambience_music/music
ambience_music/sounds
ambience_music/ambience.properties
servers.dat
servers.dat_old
.curseclient
minecraftinstance.json
minecraftinstance.json
/structurize/
/local/
/downloads/
/imgui.log
/schematics/
/optionsshaders.txt
/knownkeys.txt
/natives/
/emojiful/
/defaultconfigs/
/config.bak.json
/config.json
/crash-reports/
/minecraftinstance.json
/hs_err_pid8144.log
/optionsof.txt
/replay_pid21192.log
/replay_pid35128.log
/patchouli_books/
/hs_err_pid21192.log
/options.txt
/hs_err_pid35128.log
/trees/
/.curseclient
/usernamecache.json
/usercache.json
/mods/
